@tailwind components;

@layer components {
    .card-areas {
        display: grid;
        grid-template-areas:
                    "image title"
                    "image list"
                    "button button";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 42px auto auto;
    }

    .area-image {
        grid-area: image;
        justify-self: center;
    }

    .area-title {
        grid-area: title;
    }

    .area-list {
        grid-area: list;
    }

    .area-button {
        grid-area: button;
    }

    .title-areas {
        display: grid;
        grid-template-areas:
            'brand brand'
            'category weight';
        grid-template-columns: auto 1fr;
        grid-template-rows: auto auto;
        column-gap: 4px;

        @screen md {
            grid-template-areas:
                'brand category'
                'weight weight'
        ;
        }
    }

    .title-area-brand {
        grid-area: brand;
    }

    .title-area-category {
        grid-area: category;
    }

    .title-area-weight {
        grid-area: weight;
        @screen md {
            justify-self: center;
        }
    }

    .list-row {
        @apply
        flex justify-between;
        @apply
        md:pb-[8px] md:border-b md:border-b-[#cdcdcd];
    }
}
