@tailwind components;

@layer components {
    .gift-bg-image {
        background-image: url('./assets/gift-small.webp');


        @screen md {
            background-image: url('./assets/gift-big.webp');
        }

        @screen xl {
            background-image: url('./assets/gift-small.webp');
        }
    }
}
